In [2]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [5]:
df = pd.read_csv('worldcities.csv')

In [6]:
df.head()

,city,city_ascii,lat,lon,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37.977,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34.540,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29.617,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23.355,1356226629
4,Manila,Manila,14.6000,120.9833,Philippines,PH,PHL,Manila,primary,23.088,1608618140

In [7]:
df.capital.unique()

array(['primary', 'admin', nan, 'minor'], dtype=object)